extends blade, html, php, custom

# =========================
# CONTENTS
#
#  ==LARAVEL-BLADE-TEMPLATES-OTHERS
#
#  ==LARAVEL-BLADE-TEMPLATES-INHERITANCE
#		=DEFINING-A-LAYOUT
#		=EXTENDING-A-LAYOUT
#
#  ==LARAVEL-BLADE-CONTROL-STRUCTURES
#		=IF-STATEMENTS
#		=SWITCH-STATEMENTS
#		=LOOPS
#		=THE-LOOP-VARIABLES
#		=COMMENTS
#		=PHP
#
#  ==LARAVEL-BLADE-FORMS
#		=CSRF-FIELD
#		=METHOD-FIELD
#		=VALIDATION-ERRORS
#
#  ==LARAVEL-BLADE-TEMPLATES-CUSTOM
#
# =========================

